<div id="page-content">
    <h1 class="text-center mt-4"> Listing all articles </h1>
    <div class="container">
    <% @page.each  do |page| %>
        <div class="row justify-content-md-center">
            <div class="col-8">
                <div class="card text-center shadow mb-5 bg-white rounded">
                    <div class="card-header font-italic">
                        <i> by <%= page.user.username if page.user %></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><%= link_to page.title, page_path(page), class: "text-success" %></h5>
                        <p class="card-text"><%= simple_format(truncate(page.description, length: 100)) %> </p>
                        <%= link_to "View", page_path(page), class: "btn btn-outline-success"%>
                        <%= link_to "Edit", edit_page_url(page), class: "btn btn-outline-info"%>
                        <%= link_to "Delete", page_path(page), class: "btn btn-outline-danger", method: "delete", data: {confirm: "Are you sure?"} %>
                    </div>
                    <div class="card-footer text-muted">
                        <small>
                            Created <%= time_ago_in_words(page.created_at)%> ago,
                            Updated <%= time_ago_in_words(page.updated_at)%> ago
                        </small>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
    </div>
</div>
